<<<<<<< HEAD
<% @title = 'Yummy\'s App!' %>

=======
>>>>>>> a30d25ca2d369b8970beb0796fa33825e04dadc4
<h1> Welcome to Yummy's Development App! </h1>
  <p> This site is meant for testing, which is why it will mainly not be anywhere but
      locally on Yummy's PC.
      <br />
      <br />
    Here's a link to the Blog page:
    <%= link_to 'Yummy\'s Blog', articles_url %>

  </p>
