<title> HTML testing </title>
<h1> This page is dedicated to testing out html code. </h1>

<body>
  <p> This is body text. </p>
</body>

<button type="button"> Button </button>
<p></p>
<code> System.exit(0); </code>
